ul,
ol {
  list-style: none;
}

/* 컨테이너 */
.matrix-container {
  display: flex;
  flex-wrap: wrap; /* 부모 넓이보다 요소들의 총 넓이가 크다면 나머지 요소들을 다음줄로 바꿈*/
  justify-content: space-evenly; /* 양쪽에 간격을 좀 두고 아이템끼리 일정한 간격으로 띄워줌 */
  border-left: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  margin: 1rem 4rem 4rem;
  position: relative;
}

.matrix-item {
  width: 45%;
  height: 30rem;
  border: 0.5px solid var(--dark-grey);
  border-radius: 5px 5px 0 0;
  margin: 2rem 0;
}

/* 아이템 헤더 */
.matrix-item-header {
  text-align: center;
  background-color: var(--light-grey);
  padding: 1rem 0;
}

.matrix-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.matrix-input {
  width: 90%;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  line-height: 1.8;
}

/* 아이템 리스트 */
.martix-item-list {
  flex: 1; /* header를 제외한 모든 높이를 차지하게 설정 */
  overflow-y: auto; /* 내부 컨텐츠가 영역을 벗어날 때 y방향으로 스크롤 되도록 함 */
}

.list-item {
  width: 90%;
  margin: 0.5rem auto;
  border: 3px solid var(--light-grey);
  border-radius: 5px;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done-text-container {
  flex: 1; /* update-delete-container를 제외한 모든 너비를 차지하게 해줌 */
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.todo-done {
  margin-right: 1rem;
  cursor: pointer;
}

.todo-done:checked + .todo-text {
  /* todo-done 체크박스가 체크가 되면 todo-text에 선을 그어줌 */
  text-decoration: line-through;
}

.todo-text {
  flex: 1; /* todo-done을 제외한 모드 너비 차지 */
  width: 0; /* text-overflow 적용을 위해서는 width 속성이 필요 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 너비를 벗어나면 ...으로 처리 */
}

.update-delete-container {
  font-size: 1.6rem;
}

.todo-update {
  margin-right: 0.5rem;
  cursor: pointer;
}

.todo-delete {
  cursor: pointer;
}

#decide {
  order: 1;
}

#do {
  order: 2;
}

#delete {
  order: 3;
}

#delegate {
  order: 4; /* flex box 내에서 순서를 지정 */
}

/* 중요도, 긴급성 포지션 */
.importance {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: -3%;
  writing-mode: vertical-rl; /* 글자 세로 모드 */
}

.urgency {
  position: absolute;
  font-size: 1.5rem;
  bottom: -4%;
}

/* 모바일 레이아웃 설정 */
@media only all and (max-width: 768px) {
  .matrix-container {
    display: block;
  }

  .matrix-item {
    width: 90%;
    margin: 0 auto 1.5rem;
  }

  .importance {
    left: -5%;
  }

  .urgency {
    bottom: -2%;
    left: 45%;
  }
}
